* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans';
}

.container {
  max-width: 1300px;
}
.slider-list {
}
.slider {
}
.slider__track {
}
.slider__buttons {
}
.slider__button-left {
}
.slider__button-right {
}